<!DOCTYPE html>
<html>
<head>
  <title>MainApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
	<nav>
		<ul>
				<li id="nav-logo">
				<%= link_to 'Logo Placeholder', '#' %>
				</li>
		</ul>
		<ul class="pull-right">
			<% if user_signed_in? %>
				<% if current_user.display_name == nil %>
					<li><%= current_user.email %></li>
				<% else %>
					<li><%= current_user.display_name %></li>
				<% end %>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Upload', '#' %></li>
				<li><%= link_to 'Settings', edit_user_registration_path  %></li>
				<li><%= link_to 'Sign Out', destroy_user_session_path %></li>
			<% else %>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Sign In', '#' %></li>
				<li><%= link_to 'Register', '#' %></li>
			<% end %>
		</ul>
	</nav>	
</div>

<container id="page_content_container">
<%= yield %>
</container>
</body>
</html>
